In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('/content/drive/MyDrive/ICTAK/Advertising.csv')

**1. Explain the dataset**

In [3]:
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

The given data contains 200 rows and 5 columns.Unnamed coloumn contains the index number.TV, Radio, Newspaper and Sales shows the advertisement expenditure.

**2. Check the summary statistics and discuss the max, min, avg, median, and percentiles.**

In [5]:
data1 = data.drop('Unnamed: 0',axis=1)

Droped the serial number column as it is not required

In [6]:
data1.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

**a)minimum values of data**

In [8]:
data1.min()

TV           0.7
Radio        0.0
Newspaper    0.3
Sales        1.6
dtype: float64

**b)maximum values of data**

In [9]:
data1.max()

TV           296.4
Radio         49.6
Newspaper    114.0
Sales         27.0
dtype: float64

**c)Average values of data**

In [10]:
data1.mean()

TV           147.0425
Radio         23.2640
Newspaper     30.5540
Sales         14.0225
dtype: float64

**d)median values of data**

In [11]:
data1.median()

TV           149.75
Radio         22.90
Newspaper     25.75
Sales         12.90
dtype: float64

**e)percentiles values of data**

In [12]:
data1.quantile([.25,.5,.75])

           TV   Radio  Newspaper   Sales
0.25   74.375   9.975      12.75  10.375
0.50  149.750  22.900      25.75  12.900
0.75  218.825  36.525      45.10  17.400

**3. The manager wants to find out whether the same amount was spent for the three advertisements (TV , Radio and Newspaper). Comment on your findings**

**H0 (Null Hypothesis) = Same amount was spent for three advertisements**

**Ha (Alternate Hypothesis) = Different amount was spent for the three advertisements**

**Let Significant Level be 0.05**

In [13]:
from scipy.stats import f_oneway
TV = np.array(data['TV'])
Radio = np.array(data['Radio'])
Newspaper = np.array(data['Newspaper'])
st,p = f_oneway(TV,Radio,Newspaper)
print("Statistic value = ",st)
print("P value = ",p)
if(p < 0.05):
    print("P value is less than 0.05")
    print("Null Hpothesis is rejected.")
    print("Different amount was spent for the three advertisemnts ")
else:
    print("P value is greater than 0.05")
    print("Null Hpothesis is accepted.")
    print("Same amount was spent for the three advertisemnts ")

Statistic value =  358.8514595342597
P value =  4.552931539744962e-103
P value is less than 0.05
Null Hpothesis is rejected.
Different amount was spent for the three advertisemnts